:root {
	// Font family ***
	--font-title: "Urbanist", sans-serif;
	--font-body: "Mulish", sans-serif;

	// Colors ***
	--theme-color1: #121c27;
	--theme-color2: #4b535d;
	--text-color1: #ffffff;
	--text-color2: #ffffff;

	--main-bg: #ffffff;
	--sub-bg: #f5f5f5;

	--heading-color: #121c27;
	--paragraph: #4b535d;
	--span: #4b535d;

	--border: #0000001a;
	--white: #ffffff;
	--black: #000000;

	// Transitions ***
	--transition: all 0.3s;

	// Box shadow ***
	--shadow: 0px 4px 30px 0px #0000000d;
}
